@model IEnumerable<ChineseBridge.Models.Campus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaDpATkYS8x-m8BMjcWHUMNLxs6k4K-Ng&callback=initMap&libraries=places&v=weekly"defer></script>

<style>
    #map{
        height: 600px;
    }
    #floating-panel {
        position: absolute;
        top: 110px;
        left: 40%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }
    #right-panel {
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
        max-height: 600px;
    }

        #right-panel select,
        #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }

    #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
    }


</style>

<h2>Campus</h2>

<div id="floating-panel">
    <lable for="start"><b>Start: </b></lable>
    <input id="start" type="text" placeholder="Enter your Location">
    <lable for="end"><b>End: </b></lable>
    <select id="end">
        @foreach (var item in Model)
        {
            <option value="@item.address">@item.Name</option>
        }

    </select>
    <div>
        <lable for="mode"><b>Mode of Travel: </b></lable>
        <select id="mode">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
        </select>
    </div>
    <button id="get-direction">Get Direction</button>
</div>
<div id="right-panel"></div>
<div id="map"></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.headmaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.headmaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/map.js"></script>
